body{
    padding: 0%;
    margin: 0%;
}
nav{
    background-color: blue;
    color: white;
    padding: 8px;
}
ul{
    display: flex;
  justify-content: center;
  align-items: center;
  
}
nav ul li{
    list-style: none;
    line-height:0px;
    margin-right: 50px;
}
li p{
    color: gold;
}
nav ul li button{
    width: 150px;
    color: blue;
    background-color:white ;
    padding: 20px;
    border: 0px;
    cursor: pointer;
}
input{
    width: 400px;
    padding: 10px;
    outline: none;
    border: none;
}
.fa-solid{
    color: blue; 
    cursor: pointer; 
}
#input{
    background-color: white;

  
}
select{
    outline: none;
    background-color: blue;
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
}
.navdetails img{
 height: 50px;
 cursor: pointer;

}
.navdetails p{
    color: black;
    cursor: pointer;
}
.navdetails ul li {
    margin-left: 100px;
}
.fa-cart-shopping{
    color: white;
    margin-left: 20px;
}
.imgslider .carousel{
    height: 400px;
    width: 100%;
    border: 1px solid black;
}
option{
    width: 100px;
    color: blue;
    background-color: white;
}
li{
    list-style: none;
}
.cards{
    display: flex;
    margin-left: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px black;
    margin-top: 20px;
   
}
.cards section{
    margin:20px;
    padding: 20px;

}
.best{
    text-align: center;
}
.best h3{
    margin-left: 40px;
}
.best button{
    margin-top: 100px;
    background-color: blue;
    color: white;
    width: 100px;
    padding: 10px;
    border: none;

}